---
layout: full
body: blog single-post
disqus: true
---
<div class="navigation">
	&nbsp;
	{% if page.previous %}
	<div class="alignleft">&laquo; <a class="prev" href="{{ site.base-url }}{{ page.previous.url }}">{{ page.previous.title }}</a></div>
	{% endif %}
	{% if page.next %}
	<div class="alignright"><a class="next" href="{{ site.base-url }}{{ page.next.url }}">{{ page.next.title }}</a> &raquo;</div>
	{% endif %}
</div>

<div class="post" id="post{{ post.id | xml_id }}">
	<h2 class="pagetitle"><a href="#">{{ page.title }}</a></h2>
	<div class="entry">
		{{ content }}

		<p class="metadata alt">
			This entry was posted on
			<a href="{{ site.base-url }}/{{ page.date | date:"%Y/%m" }}">{{ page.date | date: "%B" }}</a>
			{{ page.date | date: "%d" }},
			{% if page.category %}
			<a href="{{ site.base-url }}/{{ page.date | date:"%Y" }}">{{ page.date | date: "%Y" }}</a>
			and is filed under
			<a href="/categories/{{ page.category | xml_id }}" class="category">{{ page.category | taxonomy_name }}</a>.
			{% else %}
			<a href="{{ site.base-url }}/{{ page.date | date:"%Y" }}">{{ page.date | date: "%Y" }}</a>.
			{% endif %}
			
			{% if page.tags != empty %}
				Tags:
				{% for tag in page.tags %}
					<a href="{{ site.base-url }}/tags/{{tag | xml_id }}" class="tag">{{ tag | taxonomy_name }}</a>{% if forloop.last == false %}, {% endif %}
				{% endfor %}
			{% endif %}
		</p>
	</div>
	
	{% if site.lsi %}
	<div class="related">
		<h3>Possibly Related Posts</h3>
		<ul class="meta">
			{% for post in site.related_posts limit:5 %}
				<li><a href="{{ site.base-url }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	
	<div id="comments">
		<!-- <div id="num-responses"><span class="responses-number">0</span> Responses. <a href="#comments">Add Yours!</a></div> -->
		<div id="disqus_thread" name="#comments">
		</div>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>
